.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(0, 0, 0);

}
.logo {
    object-fit: cover;
    height: 2rem;
    width: 10rem;
}
.desktopmenulistitem {
    margin: 2rem;
    cursor: pointer;
}
    .desktopmenulistitem:hover {
        color: yellow;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid yellow;
    }

.desktopMenubtn {
background: white;
color: black;
border: none;
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
border-radius: 1rem;

}
.desktopMenubtn:hover{
    background-color: rgb(209, 105, 0);
    padding-bottom: 5px;
    border-bottom : 1px solid rgb(209, 105, 0)

}
.desktopmenuimg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;

}
.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.Mobmenu {
    display: none;
    object-fit: cover;
    height: 3rem;
    border-radius: 8rem;
}
.navmenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}
.listitem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.35rem;
    background: rgb(30, 30, 30);
    
}
@media screen and (max-width:690px) {
.Mobmenu {
    display: flex;
}

.desktopmenu {
    display: none;
}
.desktopMenubtn {
    display: none;
}
}
    
