#intro {
    height: calc(100hv -10rem);
width: 100vw;
max-width: 75rem;
margin: 0 auto;
overflow: hidden;
position: relative;
}
.bg {
   
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
   
    opacity: .4;
    display: flex;
   

}
.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.btnim {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 2.5rem;
}
.hello {
    font-size: 2rem;
    font-weight: 100;
    font-family: "Dancing Script", cursive;
}
.introname {
    color: yellow;
    font-family: "Crimson Text";
    font-weight: 600;
}
.intropara {
    padding: 1rem;
   font-size: medium;
   font-weight: 50; 
   letter-spacing: 1.3px;

}
.btn {
    background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
border: none;
border-radius: 2rem;
}
@media  screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5wh;
    }
}
@media  screen and (max-width:420px) {
    .bg {
        right: -50vw;
    }
}